*{
	padding:0px;
	margin:0px;
}
body .header{
	display:flex;
	flex-direction:row;
	flex-wrap:warp;
	justify-content:space-between;
	align-items:center;
	background-color:#ffff;
	height:90px;
	width:100%;
}
body .header ul{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
}
.navigation__list li{
	display:inline-block;
	padding:0px 20px;
}
.navigation__list li a{
	font-family:"Source Sans Pro";
	text-align:center;
	font-size:2rem;
    text-decoration:none;
	color:#000000;
}
.header button{
	color:#ffff;
	background-color:#c05326;
	padding:10px 10px;
	border:1px;
	border-color:#000000;
	border-radius:5px;	
}
body .main{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	justify-content:space-evenly;
	align-content:center;
	width:70%;
}
body .sidebar{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	align-content:center;
	width:40%;

}
body .content{
	display:flex;
	flex-direction:row;
	
}
body div .alert{
	padding:15px 30px 15px 10px;
	background-color:#f7eae4;
	font-size:1rem;
	
}
body div .alert{
	border-left:3px solid #c05326;
	border-radius:5px;
}
body div .hero{
	background-image:url(../img/header-bike.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:300px;
	padding:80px 40px;
	margin-top:20px;
	margin-bottom:20px;
}
body div .hero h1{
	padding-top:50px;
	font-size:35px;
	color:#ffff;
	font-family:"Arial";
}

body div .hero p{
	padding-top:30px;
	font-size:20px;
	color:#ffff;
	font-family:"Source Sans Pro";
}
body div .hero .orbt{
	margin-top:30px;
	background-color:#c05326;
	color:#ffff;
}
body div .hero .wtbt{
	background-color:#ffff;
	color:#c05326;
}
body div .hero button{
	padding:10px 10px;
	border:0px;
	border-radius:3px;
}
.main {
	padding-left:10px;
}
.main .heading-underline{
	font-family:"Source Sans Pro";
}
.sidebar .article{
	padding:20px;
	border:2px;
	border-style:solid;
	border-radius:5px;
	border-color:#e4e4e4;
	margin:10px;
	display:flex;
	flex-direction:row;	
}

.sidebar .article img{
	padding-top:20px;
}
.sidebar .article a,p{
	text-decoration:none;
	color:#000000;
}
.sidebar .article h3 a{
	color:#c05326;
}
.sidebar .heading-underline{
	font-family:"Source Sans Pro";
	padding:10px 0px 10px 0px;
	border-bottom:2px solid  #f7eae4;
}
.main .facebook-link{
	text-align:left;
}
.article{
	padding:10px;
	border:2px;
	border-style:solid;
	border-radius:5px;
	border-color:#e4e4e4;
	margin:1px;
	font-family:"Arial";
}
.main .flexbox {
	display:flex;
	flex-direction:row;
	margin-top:20px;	
}
a{
	color: #c05326;
}
.flexbox a{
	text-decoration:none;
}
.sidebar .facebook-link{
	padding-left:350px;
}
.footer .footer__content{
	text-align:center;
}
body div.footer{
	margin-top:10px;
	border-top:2px solid #e4e4e4;
}
.main h2{
	border-bottom:2px solid #f7eae4;
	padding-bottom:5px;
}
.sidebar{
	padding-right:20px;
	padding-left:20px;
}
.learnmore h2{
	border-bottom:2px solid #f7eae4;
	padding-bottom:5px;
}